@import "bourbon";

footer {
  background-image: url("../../assets/img/backgroundImage01.jpg");
  background-size: cover;

  .locup {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

    .logo {
      padding: 30px 20px 20px 0;
    }

    .content-wrap {
      padding: 30px 0 20px 0;
    }
  }

}
